[Unit]
Description=brickbot
After=multi-user.target

[Service]
ExecStart=/usr/bin/node /home/bots/brickbot/bot.js
Restart=always
RestartSec=15
RestartPreventExitStatus=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
